.rating {
  font-size: 0.8rem;
}

.rating::before {
  content: "\f005";
  font-family: "Font Awesome 6 Free", emoji;
  font-weight: 900;
  color: gold;
  padding-right: 0.2rem;
}

.product-card-button-container {
  visibility: hidden;
}

.product-card:hover > .product-card-button-container {
  visibility: visible;
}

@media (pointer: coarse) {
  .product-card-button-container {
    visibility: unset;
  }
}
