.checkout-body {
  background: url("https://adn-static1.nykaa.com/media/wysiwyg/Payments/desktop-icons/header-auth.svg")
    no-repeat right 15% top 0;
}

.address-body {
  background: url("https://adn-static1.nykaa.com/media/wysiwyg/Payments/desktop-icons/header-address.svg")
    no-repeat right 15% top 0;
}

.payment-body {
  background: url("https://adn-static1.nykaa.com/media/wysiwyg/Payments/desktop-icons/payment-icon.svg")
  no-repeat right 15% top 0;
}

.address-placeholder-card {
  cursor: pointer;
}
.address-placeholder-card:hover {
  background-color: rgba(252, 39, 153, 0.1);
  border-color: #fc2779;
}