header {
  box-sizing: border-box;
  margin-bottom: 2rem;
}

nav > .container-fluid {
  font-size: 16px;
  margin: 0 6rem;
}

.navbar-nav > .nav-item > .nav-link {
  font-size: 0.9rem;
  color: black;
}

.navbar-nav > .nav-item > .nav-link:hover {
  color: var(--nykaa-pink);
}


.sign-in-button {
  margin: 0 1rem;
}

.shopping-bag {
  font-size: 20px;
  margin: 0 1rem;
  cursor: pointer;
  order: 1
}

.mega-menu {
  font-weight: 500;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.mega-menu > .nav-item > .nav-link {
  padding-inline: 0;
  font-size: 0.9rem;
  color: grey;
  border-bottom: 2px solid #fff;
}

.mega-menu > .nav-item > .nav-link:hover {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--nykaa-pink);
  border-bottom: 2px solid var(--nykaa-pink);
}

@media screen and (max-width: 992px){
  .sign-in-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0;
  }

  .shopping-bag {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0;
    order: 0;
  }
}