.footer-links {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 3rem 5rem;
}
@media screen and (max-width: 560px) {
  .footer-links {
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-direction: column;
  }
}

footer {
    padding-top: 2rem;
}